// Box-sizing
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

// Font

body, p {
	@include font;
	color: $default-color;
}

// Reset fonts for relevant elements

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


// Links

a {
	color: $link;
	transition: 0.3s;
	&:hover,
	&:focus {
		color: $link-hov;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

//NAV

nav {
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

// Headers

h1, .h1 {

	text-transform: uppercase;
}
h2, .h2 {

	text-transform: uppercase;
}
h3, .h3 {

	text-transform: uppercase;
}
