// Box-sizing
* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: border-box;
}

.body {
	max-width: 1920px;
}

body, p {
	@include font;
	color: $default-color;
}

// Reset fonts for relevant elements

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


// Links

a {
	color: $link;
	transition: 0.3s;
	&:hover,
	&:focus {
		color: $link-hov;
		text-decoration: none;
	}

	&:focus {
		outline: none;
	}
}

//NAV

nav {
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

// Headers

h1, .h1 {
	@include font(30, 32, 400);
	color: $header;
	text-transform: uppercase;
	margin: 20px 0;
}
h2, .h2 {
	@include font(30, 32, 400);
	color: $header;
	border-bottom: 1px solid #d8d8d8;
	margin: 20px 0;
}
h3, .h3 {
	color: $header;
	text-transform: uppercase;
	margin: 15px 0;
}
