.map-wrapper {
	position: relative;
}
.address {
	width: 275px;
	height: 240px;
	background: url(images/map/contact-bkg.png) 0 0 no-repeat;
	position: absolute;
	text-align: center;
	@include font(20,28);
	&__top {
		margin-top: 20px;
	}
	&__bottom {
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
	}
}

