$menu-bkg: #fff;
$menu-bkg-inner: #e9f6fa;
$menu-hov: #01a3d4;
$menu-height: 34px;

@mixin nav {
	display: table;
	width: 100%;
	@include breakpoint(tablet) {
		position: relative;
	}
	@include breakpoint(mobile) {
		display: none;
	}
	&__item {
		@include breakpoint(desktop) {
			position: relative;
		}
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		transition: background 0.3s;
		@include breakpoint(mobile){
			display: list-item;
		}
		a {
			text-decoration: none;
			display: table;
			width: 100%;
			height: 100%;
			padding: 10px;
			span {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
		}
		&:hover,
		&--act {
			a {
				background: $menu-hov;
			}
		}
	}
	.dropdown {
		position: absolute;
		top: $menu-height;
		left: 0;
		margin: 0;
		padding: 0;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		transition: all 0.3s;
		@include breakpoint(mobile){
			position: static;
			display: block;
			transition: inherit;

		}
		&__item {
			position: relative;
			text-align: center;
			transition: background 0.3s;
			a {
				background: $menu-bkg-inner;
				text-decoration: none;
				display: table;
				width: 100%;
				height: 100%;
				span {
					padding: 0 10px;
					display: table-cell;
					vertical-align: middle;
					text-align: left;
					@include breakpoint(mobile) {
						text-align: center;
					}
				}
				&:hover  {
					background: $menu-hov;
				}
			}
		}
		&__closed {
			opacity: 0;
			z-index: -10;
			@include breakpoint(mobile){
				display: none;
				opacity: 1;
				z-index: 1200;
			}
		}
		&__open {
			opacity: 1;
			z-index: 110;
		}
	}
}

.site-nav {
	@include nav;
	@include font(14, 16);
	&__item {
		border-bottom: 1px solid #b5e9fa;
		a {
			color: $black;
			white-space: nowrap;
		}
		&:hover,
		&--act {
			a {
				color: #fff;
			}
		}
	}
	.dropdown {
		width:  400px;
		@include breakpoint(tablet){
			width: 720px;
			position: absolute;
			top: 34px;
			left: 0;
		}
		@include breakpoint(mobile) {
			width: auto;
		}
		&__item {
			border-top: 1px solid #fff;
			a {
				color: $black;
				white-space: normal;
				padding: 9px 0;
			}
			&:hover,
			&--act {
				a {
					color: #fff;
				}
			}
		}
	}

}
