.manager {
	padding: 0 12px 17px;
	background: #e9f6fa;
	overflow: hidden;
	margin-bottom: 25px;
	&__name {
		color: $header;
		@include font(18, 20, 700);
		margin: 15px 0 5px;
	}
	&__post {
		@include font(14, 20);
		margin-bottom: 12px;
	}
	&__phone {
		padding-right: 5px;
	}
	&__phone,
	&__mail {
		@include font(14, 20);
		display: inline-block;
		a{
			line-height: 0.9em;
		}
	}


}
.announce {
	background: #edfae9;
	font-size: 13.5px;
	padding: 0 12px;
	overflow: hidden;
	h2, .h3 {
		@include font(20, 24, 700, 13.5);
	}
	.head-link {
		&:hover {
			color: #477000;
			&::after {
				background: #b7e3aa;
			}
		}
	}
	.news {
		@include breakpoint (mobile) {
			&::after {
				content: ".";
				font-size: 0;
				display: block;
				width: 70%;
				border-bottom: 1px solid #fff;
				margin: 25px 0;

			}
		}
	}
}
/* FULL */
.quoted {
	padding-left: 80px;
	position: relative;
	&::before {
		content: ".";
		font-size: 0;
		line-height: 0;
		width: 67px;
		height: 116px;
		display: block;
		position: absolute;
		top: 7px;;
		left: 0;
		background: sprite($site-sprite, q) no-repeat;
	}
}
.news-source {
	width: 70%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: top;
}

.back{
	text-align: right;
	margin-bottom: 15px;
	&__item {
		position: relative;
		&::before {
			content: ".";
			font-size: 0;
			line-height: 0;
			position: absolute;
			width: 23px;
			height: 7px;
			background: sprite($site-sprite, arrow_prev_blue);
			left: -30px;
			top: calc(50% - 3.5px);
		}
	}
}
