.patent {
	margin: 17px 0 40px;
	@include breakpoint (mobile) {
		width: 290px;
		margin: 17px auto 40px;
	}
	.head-link {
		margin-top: 10px;
	}
	&__img {
		img {
			width: 100%;
			@include breakpoint (mobile){
				width: auto;
			}
		}
	}
	&__txt {
		height: 100%;
		display: table;
		span {
			display: table-cell;
			vertical-align: middle;
			@include font(20,26,700);
			color: #999;
			text-align: center;
		}
	}
}
