.slider-wrapper,
.slider-bottom-wrapper {
	position: relative;
}
.slider {
	&__item {
		position: relative;
	}
	&__inner {
		position: absolute;
		top: 9%;
		bottom: 9%;
		left: calc(50% - 485px);
		@include breakpoint(tablet) {
			left: calc(50% - 375px);
		}
		@include breakpoint(mobile) {
			left: 0;
			width: 100%;
		}

	}
	img {
		width: 100%;
		@include breakpoint(mobile){
			width: 160%;
		}
	}
	&__head {
		@include font(48, 54, 600);
		color: #3f474a;
		text-transform: uppercase;
		margin-left: 77px;
		@include breakpoint(tablet) {
			@include font(42, 48, 600);
			margin-left: 56px;
		}
		@include breakpoint(mobile){
			@include font(25, 27, 600);
			margin-left: 12px;
		}
		a {
			@include link(#40484b, #005771);
			@include font(20, 26, 400, 48);
			@include breakpoint(mobile){
				@include font(10, 12, 400, 25);
			}
			display: inline-block;
			margin-top: 20px;
			position: relative;
			&::after {
				content: ".";
				text-indent: -99999px;
				display: inline-block;
				width: 22px;
				height: 7px;
				background: sprite($site-sprite, link-arrow);
				position: absolute;
				top: 12px;
				right: -33px;
				@include breakpoint(mobile){
					top: 5px;
				}
			}
		}
	}
	.arrow {
		@include breakpoint(mobile) {
			display: none;
		}
	}
}

.slider-bottom-outer {
	height: 465px;
	@include breakpoint (tablet) {
		height: 352px;
	}
	@include breakpoint (mobile) {
		height: 420px;
	}
	background: url(images/blue.jpg) 50% 0 no-repeat;
	background-size: cover;
	.white-title {
		margin: 55px 0 40px;
		@include breakpoint (tablet){
			margin: 20px 62px 28px 0;
		}
		@include breakpoint (mobile) {
			margin: 28px 0;
		}
	}
}

.slider-bottom {
	padding: 0 30px 0 40px;
	@include breakpoint(tablet) {
		img {
			width: 85%;
		}
	}
	&__item {
		@include breakpoint(mobile) {
			text-align: center;
		}
	}

}
.arrow {
	position: absolute;
	text-indent: -99999px;
	width: 20px;
	height: 52px;
	padding: 0;
	border: 0;
	line-height: 0;
	top: calc(50% - 26px);
	&.left,
	&.prev,
	&.left-person {
		left: 13px;
		background: sprite($site-sprite, arrow_left);
	}
	&.right,
	&.next,
	&.right-person {
		right: 13px;
		background: sprite($site-sprite, arrow_right);
	}
	&.prev,
	&.next {
		top: 245px;
		@include breakpoint(tablet){
			top: 189px;
		}
	}

}
.team-outer {
	position: relative;
	.arrow {
		display: none;
		@include breakpoint(mobile){
			display: block;
		}
		@include breakpoint(small){
			display: none;
		}
	}
}


