/* Fonts */
$open-sans: 'Open Sans', sans-serif;

$default-font: $open-sans;
$base-font-size: 15;
$base-line-height: 26;
$default-color: #545454;

$link: #01a3d4;
$link-hov: darken($link, 15%);

$header: #40484b;

/* Colors */
$grey: #777;
$bkg-grey: #e1e1e1;
$bkg-footer: #e9f6fa;

/* Compass */

//$cubs: sprite-map("../images/cubs/*.png");
