/* Fonts */
$open-sans: 'Open Sans', sans-serif;

$default-font: $open-sans;
$base-font-size: 16;
$base-line-height: 26;
$default-color: #333;

/* Colors */
//$grey: #777;
//$white: #fafafa;
//$yellow: #ffc61f;
//$blue: #034a7d;

$link: #777;
$link-hov: #a12569;

/* Bkg colors */
$bkg-footer: #a12569;
$bkg-slider: #e6017e;

/* Compass */

//$cubs: sprite-map("../images/cubs/*.png");
